OPENAI_KEY = <OPENAI_KEY>

MYSQL_PORT = <MYSQL_PORT>
MYSQL_USER = <MYSQL_USER>
MYSQL_PASSWORD = <MYSQL_PASSWORD>
MYSQL_DATABASE = training_management

GOONG_API_KEY = 1oiieGR7pQfFLnoOOzfWxFkyztIoC1JuiuwER84T

SQLALCHEMY_DATABASE_URL = mysql+pymysql://root:<MYSQL_PASSWORD>@localhost:<MYSQL_PORT>/training_management